<div class="container mt-2">
    <h1 class="text-center text-secondary">Pipes</h1>
    <div class="form-group">
        <label for="number">Number</label>
        <input type="number" name="number" id="number" class="form-control" [(ngModel)]="number">
    </div>

    <h2 class="text-center text-secondary mt-3">Saídas:</h2>
    <div class="container text-center">
        <p class="text-muted">Sem formatação:</p>
        <p>{{number | number}}</p>
        <p class="text-muted">Com formatação:</p>
        <p>{{number | number:'2.1'}}</p>
        <p class="text-muted">Money:</p>
        <p>{{number | currency}}</p>
        <p class="text-muted">Date:</p>
        <p>{{date | date}}</p>
        <p class="text-muted">Custom pipe Inpure:</p>
        <p>{{['Alex', 'Santos'] | printList}}</p>
        <p class="text-muted">Json:</p>
        <p>{{pessoa | json}}</p>
    </div>
</div>