<div class="container text-center card p-3 mt-2">
  <h1 class="text-success">Angular new</h1>
  <!-- Diretivas de atributo -->
  <div [ngStyle]="{background: count < 5 ? 'tomato' : 'green'}" [ngClass]="{custom: count > 4}">
    <h2>Contador: {{count}}</h2>
  </div>

  <!-- Diretivas estruturais -->
  <h2 class="text-danger" *ngIf="count === 6; else menor">Jequiti</h2>

  <ng-template #menor>
    <h2 class="text-muted">Hinode</h2>
  </ng-template>

  <ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li class="list-group-item" *ngSwitchCase="1" appTextMarker backgroundColor="whitesmoke" textColor="tomato">1 Count
    </li>
    <li class="list-group-item" *ngSwitchCase="5">5 Count</li>
    <li class="list-group-item" *ngSwitchDefault>Default</li>
  </ul>

  <app-list-persons [persons]="persons"></app-list-persons>

  <div class="row mt-2">
    <div class="col-md-6">
      <input type="text" name="name" class="form-control" placeholder="Digite algo" [(ngModel)]="text">
    </div>
    <div class="col-md-6">
      <h4 class="form-control" appTextMarker backgroundColor="whitesmoke" textColor="tomato">Saída: {{text}}</h4>
    </div>
  </div>
  <button class="btn btn-success" (click)="clicked('teste')">Log</button>

</div>

<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Rick and Morty Api</h1>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12">
        <app-list-api></app-list-api>
      </div>
    </div>

  </div>

</div>